.App {
    text-align: center;
}
.photo-grid {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.photo-grid img {
    width: calc(
        33.33% - 200px
    ); /* Adjust the width of each photo, considering margins */
    margin: 17px;
    border: 2px solid black;
}
